p{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color: pink;

}

.parrafotitulo{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color: aqua;
}
