.button1{
    border-radius: 40px;
    background-color: #003b67;
    color: white;
    padding: 10px 20px;
}
.button2{
    border-radius: 40px;
    background-color: #137bad;
    color: white;
    padding: 10px 20px;
}
.button3{
    border-radius: 15px;
    background-color: #ffcc0098;
    color: white;
    padding: 10px 20px;
    text-align: end;
    border: none;
    font-size: 25px;
    font-family: cursive;
}

